* {
    font-family: 'IBM Plex Mono', monospace;
}

#title {

    margin: 0vh;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0vh;
    height: 20vh;
}

.main-container {
    /* border: 1px solid red; */
    height: 100vh;
    background-color:#23262F;
    position: relative;
}

.results {
    font-size: 2vw;
    position: absolute;
    padding-top: 10vh;
    text-align: center;
    color:#F5F5F5;
    /* border: 1px solid blue; */
    height: 10vh;
    width: 20vw;
    left: 40vw;
    top: 20vh;
}

.flex {
    display: flex;
}

.computer {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F5F5F5;
    /* border: 1px solid green; */
    height: 60vh;
    width: 50vw;

}

.inputs {
    /* border: 1px solid purple; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    text-align: center;
    margin: 1vh;
    width: 15vw;
    height: 8vh;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #23262F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
    font-size: 40px;
  }

  button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
